html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-image: url("https://scontent-sea1-1.xx.fbcdn.net/v/t31.0-8/14468693_10108227897209883_4876007150152537709_o.jpg?oh=f96024a74e4097eb35c38f9dae1188b0&oe=595F6DD7") !important; 
	background-repeat: no-repeat;
  background-size: cover;
	background-attachment: fixed;
}

.bgbody {
	
}

.transparentbox {
	margin-top: 120px;
	background-color: rgba(255, 255, 255, 0.3);
	width: 50%;
	height: 475px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 20px;
}

.margin-top-3 {
	padding-top: 20px;
}

.radio-buttons {
	display: block;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 160px;
}

div.slider {
	display: block;
}

/* Slidermenu - div CSS */
*{
  margin: 0;
  padding: 0;
}

.clear{
  clear: both;
}


.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: arial, sans-serif;
  max-width: 600px;
  margin: 50px auto;
  overflow: hidden;
}

.slidemenu label{
  width: 10%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.2;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #666;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}

.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Bar Style*/
.slider{
  width: 100%;
  height: 5px;
  display: block;
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width: 10%;
  height: 5px;
  background: #333;
  border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/
.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}

.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 10%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 20%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 30%; }
.slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 40%; }
.slidemenu #slide-item-6:checked ~ .slider .bar{ margin-left: 50%; }
.slidemenu #slide-item-7:checked ~ .slider .bar{ margin-left: 60%; }
.slidemenu #slide-item-8:checked ~ .slider .bar{ margin-left: 70%; }
.slidemenu #slide-item-9:checked ~ .slider .bar{ margin-left: 80%; }
.slidemenu #slide-item-10:checked ~ .slider .bar{ margin-left: 90%; }
