html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-image: url("https://scontent-sea1-1.xx.fbcdn.net/v/t31.0-8/14468693_10108227897209883_4876007150152537709_o.jpg?oh=f96024a74e4097eb35c38f9dae1188b0&oe=595F6DD7") !important; 
	background-repeat: no-repeat;
  background-size: cover;
	background-attachment: fixed;
}

.transparentbox {
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.3);
	height: 500px;
	border-radius: 20px;
}

.margin-top-3 {
	padding-top: 20px;
}

.radio-buttons {
	display: block;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 10px;
}

div.slider {
	display: block;
}

/* Slidermenu - div CSS */
*{
  margin: 0;
  padding: 0;
}

.clear{
  clear: both;
}

.slide-toggle{
  display: none;
}

.slidemenu{
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
}

.slidemenu label{
  width: 10%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.45;
}

.slidemenu label:hover{
  cursor: pointer;
		-webkit-transition: color 2s; /* Safari */
  transition: color 2s;
  color: aqua;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}

/*Bar Style*/
.slider .bar{
  width: 4%;
  height: 2px;
  background: #333;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/
.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}

.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 3%; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 13%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 23%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 33%; }
.slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 43%; }
.slidemenu #slide-item-6:checked ~ .slider .bar{ margin-left: 53%; }
.slidemenu #slide-item-7:checked ~ .slider .bar{ margin-left: 63%; }
.slidemenu #slide-item-8:checked ~ .slider .bar{ margin-left: 73%; }
.slidemenu #slide-item-9:checked ~ .slider .bar{ margin-left: 83%; }
.slidemenu #slide-item-10:checked ~ .slider .bar{ margin-left: 93%; }
